{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items | length >  0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr><i class="fas fa-trash"></i>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row">{{ item.ticket.groupComposition }}</th>
                    <td>{{ item.ticket.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ticket.price * item.quantity }}</td>
                    <td><a href="{{ path('cart_remove', { 'id' : item.ticket.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total :</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <a href="{{ path('order_show') }}">
            <button class="btn btn-light">Payer</button>
        </a>
    {% else %}
        <p>Surprise, c'est vide !</p>
    {% endif %}
{% endblock %}
