{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="mt-3">Nos prochaine dates</h1>
    <div class="row mt-3">
        {% for showTour in showTours %}
            <div class="col-md-4 ml-5 mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ showTour.city }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ showTour.location }}</h6>
                        <p class="card-text">Venez nous rencontre
                            du {{ showTour.beginAt ? showTour.beginAt|date('d-m-Y') : '' }}
                            ~ au {{ showTour.endAt ? showTour.endAt|date('d-m-Y') : '' }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 class="mt-3">Les dernier Spectacle</h1>
    <div class="row">
        {% for spectacle in spectacles %}
            <div class="col-md-3 ml-5 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ spectacle.image }}" class="card-img-top" alt="{{ spectacle.image }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ spectacle.name }}</h5>
                        <p class="card-text">{{ spectacle.description }}</p>
                        <a href="{{ path('spectacle_show', {id : spectacle.id}) }}" class="btn btn-primary">Voir la
                            fiche du spectacle</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 class="mt-3">Les petits nouveaux</h1>
    {% for animal in animals %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ animal.image }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ animal.name }}</h5>
                        <p class="card-text">{{ animal.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <h1 class="mt-3"> Billeterie</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Composition</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        {% for ticket in ticketing %}
            <tbody>
            <tr>
                <th scope="row">{{ ticket.groupComposition }}</th>
                <td scope="row">{{ ticket.price }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <a href="">
        <button class="btn btn-lg btn-light">Nous contacter</button>
    </a>
{% endblock %}