{% extends 'base.html.twig' %}

{% block title %}Spectacle{% endblock %}

{% block body %}
    <div class="container">
    <h1>Tous nos Spectacle</h1>
    <ul class="nav justify-content-center nav-tabs" id="spectacle-list">
        {% for category in categorys %}
            {% if category.spectacles is not empty %}
                <li class="nav-item">
                    <a class="nav-link active" id="{{ category.id }}"
                       href="#">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
        <div id="element">
    {% for spectacle in spectacles %}
        <div class="row mt-5">
            <div class="media">
                <img src="{{ spectacle.image }}" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{ spectacle.name }}</h5>
                    {{ spectacle.description }}
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
        </div>
        <div id="spectacle-detail"></div>
{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('listSpectacle') }}
        {% endblock %}