{% extends 'base.html.twig' %}
{% block body %}
        <img src="{{ asset('uploads/images/'~ spectacle.image) }}">
        Nom du spectacle : {{ spectacle.name }}
        </br>
        Description du spectacle{{ spectacle.description }}
        </br>
        L'équipe :
        {% for spectacleStaff in spectacle.staff %}
            {{ spectacleStaff.name }}
            </br>
        {% endfor %}
        Les annimaux :
        {% for animalsSpectacle in spectacle.animals %}
            {{ animalsSpectacle.name }}
        {% endfor %}
        </br>
        {% if is_granted('Role_Admin') %}
            <a href="{{ path('admin_spectacle') }}">
                <button class="btn btn-light">Retour à la liste</button>
            </a>
        {% else %}
            <a href="{{ path('home') }}">
                <button class="btn btn-light">Retour</button>
            </a>
        {% endif %}
{% endblock %}

