{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-3">
    <h1>Les annimaux du cirques</h1>
    <a href="{{ path('animals_new') }}">
        <button class="mt-3 btn btn-lg btn-block btn-light">Ajouter un nouveaux animaux</button>
    </a>
    <table class="table mt-3">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Categories</th>
            <th scope="col">Date d'arriver</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <th scope="row">{{ animal.name }}</th>
                <td>{{ animal.description }}</td>
                <td>{{ animal.category.name }}</td>
                <td>{{ animal.date|date('d/m/Y') }}</td>
                <td> {{ include('animals/_delete_form.html.twig') }}
                    <a href="{{ path('animals_edit', {'id': animal.id}) }}">
                        <button class="btn btn-light mt-2">Modifier</button>
                    </a>
                    <a href="{{ path('animals_show', {'id': animal.id}) }}">
                        <button class="btn btn-light mt-2">Voir</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}