{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
    <h1>Les employer</h1>
    <a href="{{ path('staff_new') }}"><button class="mt-3 btn btn-lg btn-block btn-light">Ajouter un nouveau employer</button></a>
    <table class="table mt-5">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for staff in staffs %}
            <tr>
                <th scope="row">{{ staff.name }}</th>
                <td>{{ staff.description }}</td>
                <td><a href="{{ path('staff_delete', {'id': staff.id}) }}"><button class="btn btn-light">Supprimer</button></a>
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}"><button class="btn btn-light mt-2">Modifier</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}