{% extends 'base.html.twig' %}

{% block title %}Nos animaux {% endblock %}

{% block body %}
    <h1>Nos animaux</h1>
    <ul class="nav justify-content-center nav-tabs" id="animal-list">
        {% for category in categorys %}
            {% if category.animals is not empty %}
                <li class="nav-item">
                    <a class="nav-link active" id="{{ category.id }}"
                       href="#">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div id="element">
        {% for animal in animals %}
            <div class="row mt-5">
                <div class="media">
                    <img src="{{ animal.image }}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0">{{ animal.name }}</h5>
                        {{ animal.description }}
                    </div>
                </div>
            </div>
        {% else %}
            <td colspan="6">no records found</td>
        {% endfor %}
    </div>
    <div id="animals-detail">
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('listAnimal') }}
{% endblock %}
