{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5"> Tous nos animaux</h1>
        <ul class="nav justify-content-center nav-tabs">
            {% for category in categorys %}
                {% if category.animals is not empty %}
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="{{ path('animals_category', {'id': category.id} ) }}">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for category in categorysAnimals %}
            {% for animal in category.animals %}
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="media">
                            <img src="{{ animal.image }}" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">{{ animal.name }}</h5>
                                {{ animal.description }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

            {% block title %}

            {% endblock %}

